<h1 class = "heading" >Marvel Character Finder</h1>
<p class="infoPage">Here you can use marvel API to search about your favourite Character. This Page will give the user information on the characters they search. The character searched can be checked in the comics it has appeared.</p>

<form action="/search" method="post" class="form1">
    <label for="searchTerm">Search your favourite characters></label>
    <input type="text" name="searchTerm" placeholder="Type Here">
    <input type="submit" value="search" id="searchTerm" class="btn1">
</form>
