<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <header>
            <h1>A Simple User Login and Sign-up System</h1><hr>
        </header>
        <main>
            {{{body}}}
        </main>
        <br>
        {{!-- <footer>
            Name: Aditya Parab <br>
            CWID: 10459650 <br>
            Course: CS 546<br>
            Stevens Institute of Technology 
        </footer> --}}
    </body>
</html>